# 1 How many movies are listed in the titles dataframe?

In [ ]:
import numpy as np
import pandas as pd
data = pd.read_csv('titles.csv')
data.count()
# In total we have 244914 movies listed in the datatframe. 
# len(data) also ca be used as below.

In [ ]:
len(data)
# In total we have 244914 movies listed in the datatframe.

# 2 What are the earliest two films listed in the titles dataframe?

In [ ]:
titles.sort_values('year').head(2)
# Miss Jerry	1894
# The Startled Lover	1898

# 3 How many movies have the title "Hamlet"?

In [ ]:
len(data[data.title=="Hamlet"])

# 4 How many movies are titled "North by Northwest"?

In [ ]:
len(data[data.title=="North by Northest"])

# 5 When was the first movie titled "Hamlet" made?

In [ ]:
data[data.title=="Hamlet"].sort_values('year').head(1)

# 6 List all of the "Treasure Island" movies from earliest to most recent.

In [ ]:
data[data.title=="Treasure Island"].sort_values('year').head()

# 7   How many movies were made in the year 1950?

In [ ]:
len(data[data["year"]==1950])

# 8 How many movies were made in the year 1960?

In [ ]:
len(data[data["year"]==1960])

# 9 How many movies were made from 1950 through 1959?

In [ ]:
import numpy as np
import pandas as pd
data1= pd.read_csv('titles.csv')
d=data1
len(d[(1950<=d.year) & (d.year <=1959)])

# 10 In what years has a movie titled "Batman" been released?

In [7]:
import numpy as np
import pandas as pd
data2= pd.read_csv('cast.csv')
data2[data2.title=="Batman"].sort_values('year').head()

          title  year               name   type            character    n
99564    Batman  1943       Frank Austin  actor          Hotel Clerk  NaN
1630712  Batman  1943    J. Carrol Naish  actor             Dr. Daka  3.0
1543957  Batman  1943      Harold Miller  actor    Restaurant Patron  NaN
1535655  Batman  1943  Charles Middleton  actor  Ken Colton [Ch. 6-8  NaN
1425465  Batman  1943       Knox Manning  actor             Narrator  NaN

# 11 How many roles were there in the movie "Inception"?

In [8]:
data2[data2.title=="Inception"].sort_values("character").shape[0]

78

# 12 How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [9]:
data2[data2.title=="Inception"].isnull()

         title   year   name   type  character      n
98153    False  False  False  False      False   True
149008   False  False  False  False      False  False
183937   False  False  False  False      False  False
197877   False  False  False  False      False   True
260128   False  False  False  False      False  False
...        ...    ...    ...    ...        ...    ...
3387147  False  False  False  False      False  False
3444628  False  False  False  False      False  False
3473041  False  False  False  False      False  False
3480170  False  False  False  False      False  False
3731263  False  False  False  False      False  False

[78 rows x 6 columns]

# 13 But how many roles in the movie "Inception" did receive an "n" value?

In [10]:
data2[data2.title=="Inception"].isna().sum()

title         0
year          0
name          0
type          0
character     0
n            27
dtype: int64

# 14 Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [47]:
import pandas as pd
data2= pd.read_csv('cast.csv')
data2[data2.title=="North by Northwest"].rank().count()

title        116
year         116
name         116
type         116
character    116
n             16
dtype: int64

# 15 Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [49]:
data2[(data2['title']=='Sleuth')&(data2['year']==1972)].character.shape[0]

6

# 16 Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [50]:
data2[(data2['title']=='Sleuth')&(data2['year']==2007)].character.shape[0]

7

# 17 How many roles were credited in the silent 1921 version of Hamlet?

In [6]:
data2[(data2['title']=='Hamlet')&(data2['year']==1921)].character.shape[0]

9

# 18 How many roles were credited in Branagh’s 1996 Hamlet?

In [7]:
data2[(data2['title']=='Hamlet')&(data2['year']==1996)].character.shape[0]

54

# 19 How many "Hamlet" roles have been listed in all film credits through history?

In [9]:
data2[data2['title']=='Hamlet'].character.shape[0]

342

# 20 How many people have played an "Ophelia"?

In [10]:
data2[data2['title']=='Ophelia'].character.shape[0]

20

# 21 How many people have played a role called "The Dude"?

In [14]:
data2[data2['character']=='The Dude'].shape[0]

19

# 22 How many people have played a role called "The Stranger"?

In [15]:
data2[data2['character']=='The Stranger'].shape[0]

212

# 23 How many roles has Sidney Poitier played throughout his career?

In [18]:
data2[data2['character']=='Sidney Poitier'].shape[0]

1

# 24 How many roles has Judi Dench played?

In [19]:
data2[data2['character']=='Judi Dench'].shape[0]

0

# 25 List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [ ]:
data2[data2['character']=='Judi Dench'].shape[0]

# 26 List the leading roles that Cary Grant played in the 1940s in order by year.

In [55]:
data2[(data2['character']=='Cary Grant')&(data2['year']==1940)].shape[0]

0

# 27 How many roles were available for actors in the 1950s?

In [22]:
data2[(data2['type']=='actor')&(data2['year']==1950)].character.shape[0]

16760

# 28 How many roles were available for actresses in the 1950s?

In [27]:
data2[(data2['type']=='actress')&(data2['year']==1950)].character.shape[0]

5637

# 29 How many leading roles (n=1) were available from the beginning of film history through 1980?

# 30 How many non-leading roles were available through from the beginning of film history through 1980?

# 31 How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?