In [1]:
import pandas as pd
data=pd.read_csv("train.csv")

In [2]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [47]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
data.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [7]:
data.drop(['PassengerId','Ticket','Cabin','Name','Embarked'],axis=1)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0           0       3    male  22.0      1      0   7.2500
1           1       1  female  38.0      1      0  71.2833
2           1       3  female  26.0      0      0   7.9250
3           1       1  female  35.0      1      0  53.1000
4           0       3    male  35.0      0      0   8.0500
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0  13.0000
887         1       1  female  19.0      0      0  30.0000
888         0       3  female   NaN      1      2  23.4500
889         1       1    male  26.0      0      0  30.0000
890         0       3    male  32.0      0      0   7.7500

[891 rows x 7 columns]

In [8]:
a=preprocessing.LabelEncoder()
a.fit(data['Sex'])

LabelEncoder()

In [9]:
data['Sex']=a.transform(data['Sex'])

In [63]:
y=data['Pclass']
x=data[['Survived','Sex','Age','SibSp','Parch','Fare']]

y1=data['Sex']
x1=data[['Survived','Pclass','Age','SibSp','Parch','Fare']]

y2=data['SibSp']
x2=data[['Survived','Sex','Age','Pclass','Parch','Fare']]

y3=data['Parch']
x3=data[['Survived','Sex','Age','SibSp','Pclass','Fare']]

y4=data['Fare']
x4=data[['Survived','Sex','Age','SibSp','Parch','Pclass']]

In [64]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1,test_size=0.30,random_state=0)
x2_train,x2_test,y2_train,y2_test=train_test_split(x2,y2,test_size=0.20,random_state=0)
x3_train,x3_test,y3_train,y3_test=train_test_split(x3,y3,test_size=0.25,random_state=0)
x4_train,x4_test,y4_train,y4_test=train_test_split(x4,y4,test_size=0.35,random_state=0)

In [12]:
x_train.head()

     Survived  Sex   Age  SibSp  Parch     Fare
105         0    1  28.0      0      0   7.8958
68          1    0  17.0      4      2   7.9250
253         0    1  30.0      1      0  16.1000
320         0    1  22.0      0      0   7.2500
706         1    0  45.0      0      0  13.5000

In [13]:
x_train.shape

(668, 6)

In [14]:
x_test.shape

(223, 6)

In [15]:
y_train.shape

(668,)

In [16]:
y_test.shape

(223,)

In [21]:
data.fillna('20',inplace=True)

In [38]:
data.fillna('bfill',inplace=True)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int32
 5   Age          891 non-null    object
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(1), int32(1), int64(5), object(5)
memory usage: 80.2+ KB

In [25]:
data.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,False,False,False,False,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,False

# PClass

In [67]:
from sklearn.naive_bayes import*
clf=GaussianNB()
y_pred=clf.fit(x_train,y_train).predict(x_test)

In [68]:
accuracy_score(y_test,y_pred)

0.7052238805970149

In [69]:
confusion_matrix(y_test,y_pred)

array([[ 39,  15,   6],
       [  2,  27,  23],
       [  4,  29, 123]], dtype=int64)

# Gender

In [70]:
from sklearn.naive_bayes import*
clf=GaussianNB()
y1_pred=clf.fit(x1_train,y1_train).predict(x1_test)

In [71]:
accuracy_score(y1_test,y1_pred)

0.8022388059701493

In [72]:
confusion_matrix(y1_test,y1_pred)

array([[ 75,  24],
       [ 29, 140]], dtype=int64)

# Sibsp

In [73]:
from sklearn.naive_bayes import*
clf=GaussianNB()
y2_pred=clf.fit(x2_train,y2_train).predict(x2_test)

In [74]:
accuracy_score(y2_test,y2_pred)

0.6983240223463687

In [75]:
confusion_matrix(y2_test,y2_pred)

array([[109,  12,   0,   0,   1,   0],
       [ 31,  10,   0,   0,   1,   0],
       [  2,   0,   0,   1,   1,   0],
       [  2,   0,   0,   1,   3,   0],
       [  0,   0,   0,   0,   4,   0],
       [  0,   0,   0,   0,   0,   1]], dtype=int64)

# Parch

In [76]:
from sklearn.naive_bayes import*
clf=GaussianNB()
y3_pred=clf.fit(x3_train,y3_train).predict(x3_test)

In [77]:
accuracy_score(y3_test,y3_pred)

0.6995515695067265

In [78]:
confusion_matrix(y3_test,y3_pred)

array([[144,  11,   2,   1,  13,   0],
       [ 15,   7,   4,   2,   5,   0],
       [  7,   4,   5,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0,   0]], dtype=int64)

# Conclusion: Accuracy of Pclass is 70.50%
# Gender is 80.22%
# SibSp is 69.83%
# Parh is 69.95%