In [ ]:
# Answer 1
email=input("Enter email ID:")
user = email.split('@')[0]
domain = email.split('@')[1]
domain_name = domain.split('.')[0]

print ("Company name:", domain_name)

In [2]:
# Answer 2

a=input("enter words, comma separated: ")
a=a.split(",")
a=sorted(a)
print(",".join(a))

enter words, comma separated> without,hello,bag,world
bag,hello,without,world

In [3]:
# Answer 3

set= {"Maruti","Honda","Suzuki"}
print(set)

#Loop through the set, and print the values
set= {"Maruti","Honda","Suzuki"}
for x in set:
  print(x)

#Check if "Honda" is present in the set:
set = {"Maruti","Honda","Suzuki"}
print("Honda" in set)

#Add Items using the Add () method:
set = {"Maruti","Honda","Suzuki"}
set.add("Audi")
print(set)

#Add multiple items to a set, using the update() method:

set = {"Maruti","Honda","Suzuki"}
set.update(["Audi", "GM", "Civic"])
print(set)

#The union() method returns a new set with all items from both sets:
set1 = {"Maruti","Honda","Suzuki"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'Honda', 'Suzuki', 'Maruti'}
Honda
Suzuki
Maruti
True
{'Honda', 'Suzuki', 'Maruti', 'Audi'}
{'Maruti', 'GM', 'Civic', 'Suzuki', 'Honda', 'Audi'}
{1, 2, 'Maruti', 3, 'Suzuki', 'Honda'}

In [4]:
# Answer 4

def FindingtheMissingNo(b): 
    n = len(b) 
    total = (n + 1)*(n + 2)/2
    sum_of_b = sum(b) 
    return total - sum_of_b 
b = [1, 2, 3, 5, 6] 
miss = FindingtheMissingNo(b) 
print(miss)

4.0

In [5]:
# Answer 5

def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list  
duplicate = [12,24,35,24,88,120,155,88,120,155] 
print(Remove(duplicate))

[12, 24, 35, 88, 120, 155]